.elementor-kit-7 {
    --e-global-color-primary: #0e454c;
    --e-global-color-secondary: #F9FCFF;
    --e-global-color-text: #527282;
    --e-global-color-accent: #ffce91;
    --e-global-color-white: #FFFFFF;
    --e-global-color-divider: #0E384C12;
        --e-global-color-black: #00000012;

    --e-global-color-darkdivider: #FFFFFF1F;
    /* --e-global-typography-primary-font-family: "Onest"; */
    --e-global-typography-primary-font-size: 40px;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 1.2em;
    /* --e-global-typography-secondary-font-family: "Onest"; */
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-line-height: 1.2em;
    /* --e-global-typography-text-font-family: "Onest"; */
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.8em;
    /* --e-global-typography-accent-font-family: "Onest"; */
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-line-height: 1.1em;
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-white);
    border-radius: 14px 14px 14px 14px;
    padding: 17px 18px 17px 18px;
}

.elementor-kit-7 h1 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
}

.elementor-kit-7 h2 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-kit-7 h3 {
    color: var(--e-global-color-primary);
}

.elementor-kit-7 h4 {
    color: var(--e-global-color-primary);
}

.elementor-kit-7 h5 {
    color: var(--e-global-color-primary);
}

.elementor-kit-7 h6 {
    color: var(--e-global-color-primary);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1300px;
}

.e-con {
    --container-max-width: 1300px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-kit-7 {
        --e-global-typography-primary-font-size: 32px;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-7 {
        --e-global-typography-primary-font-size: 24px;
        --e-global-typography-secondary-font-size: 18px;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-kit-7 button,
    .elementor-kit-7 input[type="button"],
    .elementor-kit-7 input[type="submit"],
    .elementor-kit-7 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}